* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.converter {
  width: 500px;
  min-height: 200px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}
h1 {
  text-align: center;
  padding: 10px;
  display: block;
}
.input {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  position: relative;
}
.input input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}
.input select {
  position: absolute;
  right: 110px;
  bottom: 10px;
  outline: none;
  border: none;
  background: transparent;
}
h2 {
  text-align: center;
  margin: 10px 0;
}
#unit2 {
  display: block;
  text-align: center;
  width: 20%;
  margin: auto;
  padding: 10px;
}
button {
  width: 120px;
  padding: 10px;
  border: none;
  display: block;
  margin: 20px auto;
  cursor: pointer;
  background: blue;
  color: white;
  border-radius: 10px;
}
#result {
  color: green;
}
@media screen and (min-width: 200px) and (max-width: 766px) {
  .converter {
    width: 90%;
  }
  .input input {
    width: 90%;
  }
  .input select {
    right: 10%;
  }
  #unit2 {
    width: 40%;
    border: 1px solid black;
  }
}
